
// Colors
$primary-color: rgb(255, 255, 255);//#e15e6e;
$secondary-color:  rgb(74, 159, 185);// #c3e6d4;
$terciary-color: rgba(74, 159, 185, 0.247); //#e0c4ae;

$background-color: #f4f0e5;
$background-overlay: #222222cc;

$primary-hover: #FEFEFE;//#e1918e;
$secondary-hover: #a1d3b9;
$terciary-hover: #e4b28d;

$typography-color: #4a4a4a;
$typography-link-hover: #456655;

$white: #FEFEFE;
$black: #222;
$error-color: rgb(167, 39, 39);//#e15e6e;
$deliver: rgb(35, 170, 22);//#e15e6e;

// Typography sizes
$font-size-sm: 0.75rem;
$font-size-md: 1rem;
$font-size-lg: 1.25rem;
$font-size-xl: 1.5rem;
$font-size-xxl: 2rem;

$navbar-height: 4.8rem;
$footer-height: 2.5rem;
$banner-margin: 1rem;