.navbar__container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $secondary-color;
    border-bottom: 1px solid black;
    height: $navbar-height;
    position: fixed;
    top: 0;
    width: 100%;

    .navbar__wrapper {
        align-items: center;
        display: flex;
        justify-content: space-between;
        height: 100%;
        width: 100%;
        margin: 0 10%;
        
        nav {
            display: flex;
            align-items: center;
            height: 100%;
        }
    }

    a {
        font-size: $font-size-md;
        text-decoration: none;
        color: $typography-color;
        padding-right: 1rem;
        height: 100%;

        &:first-child {
            h1 {
                font-size: $font-size-lg;
                font-weight: 200;
                margin: 0;
                
            }
        }

        &:hover {
            color: $typography-link-hover;
        }
    }

}
.nav__menu {
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
}

.d-logo {
    display: flex;
    justify-content: stretch;
    width: 100%;
    height: 100%;
    @media screen and (min-width: 740px) {
        
            width: 80%;
            height: 80%;
        
    }

     img {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;

    }
}

.d-list {
    display: flex;
    width: 100%;
    // align-items: self-end;
    justify-content: space-between;

    @media (max-width: 740px) {
        width: 33.3%;
    }

    ul {
        display: flex;
        padding: 0;

        @media (max-width: 740px) {
            display: block;
        }

        li {
            display: flex;
            list-style: none;
            padding: 0 0.5rem;
            align-content: center;
        }

        a {
            text-decoration: none;
            align-items: center;
            display: flex;
            width: 100%;
        }
    }
}